@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

*{
    margin: 0;
    padding: 0;
}

:root{
    --main-color: #0a4db8;
    --main-font: 'Nunito Sans', sans-serif;
}

body{
    font-family: var(--main-font);
}

.shop-btn{
    background-color: var(--main-color);
    color: white;
}
.view-btn{
    border: 1px solid var(--main-color);
    color: var(--main-color);
}

.banner .banner-img .image img{
    /* height: 400px; */
}
.image{
    position: relative;
}
.image .discount{
    position: absolute;
    right: 10%;
    top: 15%;
    background-color: var(--main-color);
    height: 70px;
    width: 70px;
    color: white;
    border-radius: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.image .discount-product,
.image .discount-product-two{
     background-color: white;
    box-shadow: 2px 2px 5px lightgray;
    width: 30%;
}

.image .discount-product{
    position: absolute;
    top: 30%;
    left: 5%;
}
.image .discount-product-two{
    position: absolute;
    bottom: 10%;
    right: 0;
}
.discount-product h6,
.discount-product-two h6{
    font-size: 12px;
}

.product-card .hover-img{
    display: none;
}

.product-card:hover .hover-img{
    display: block;
}
.product-card:hover .normal-img{
    display: none;
}

.product-card .product-image .product-icons{
    /* background-color: blue; */
    position: absolute;
    display: none;
    right: 5px;
    top: 10px;
    
}
.product-icons i{
    color: var(--main-color);
}
.product-icons .icon{
    width: 35px;
    background-color: rgb(243, 238, 238);
    border-radius: 100px;
    height: 35px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
}

.product-card:hover .product-icons{
    display: block;
}

/* COntact Page */

.contact-section .contact-box{
    box-shadow: 2px 2px 2px 5px rgb(238, 235, 235);
    width: 100%;
    height: 170px;
    padding: 30px 0;
}
.contact-box i{
    border: 2px dotted var(--main-color);
    padding: 15px;
    height: 50px;
    width: 50px;
    border-radius: 100px;
    font-size: 20px;
    color: var(--main-color);
}
.contact-box h5{
    font-size: 18px;
    font-weight: 700;
    margin-top: 10px;
}

a{
    text-decoration: none;
    color: black;
}

.contact-form .send-btn button{
    background-color: var(--main-color);
    color: white;
    border-radius: 100px;
    padding: 10px 20px;
}
.contact-form {
    box-shadow: 2px 2px 2px 5px rgb(237, 234, 234);
    padding: 50px 30px;
}

.newsletter{
    background-color: rgb(249, 250, 250);
    padding: 50px 0;
}
.newsletter .subscribe-btn{
    background-color: var(--main-color);
    color: white;
    border-radius: 100px;
    padding: 10px 20px;
}
.subscribe{
    display: flex;
    /* background-color: aqua; */
    width: 40%;
    margin: 20px auto;
    border: 2px solid rgb(231, 225, 225);
    border-radius: 100px;
    padding: 0 0 0 20px;
}
.subscribe input{
    /* width: 50%; */
    /* margin: auto; */
    border: none;
}

.newsletter h3{
    font-size: 35px;
    font-weight: 700;
}